<?xml version="1.0" ?>
<settings version="1">
	<section id="metadata.tvshows.anidb.net.mod">
		<category id="General" label="30300" help="">
			<group id="1">
				<setting id="Google" type="boolean" label="30000" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="2">
				<setting id="AnimeTitlesUrl" type="string" label="30001" help="">
					<level>0</level>
					<default>https://raw.github.com/ScudLee/anime-lists/master/animetitles.xml</default>
					<control type="edit" format="string">
						<heading>30001</heading>
					</control>
				</setting>
				<setting id="AnimeMappingListUrl" type="string" label="30002" help="">
					<level>0</level>
					<default>https://raw.github.com/ScudLee/anime-lists/master/anime-list.xml</default>
					<control type="edit" format="string">
						<heading>30002</heading>
					</control>
				</setting>
				<setting id="PersonalAnimeMapping" type="boolean" label="30003" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="PersonalAnimeMappingUrl" type="string" label="30004" help="">
					<level>0</level>
					<default>http://localhost/pers-anime-list.xml</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="PersonalAnimeMapping">true</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>30004</heading>
					</control>
				</setting>
			</group>
			<group id="3">
				<setting id="DelayValue" type="integer" label="30006" help="">
					<level>0</level>
					<default>1</default>
					<control type="edit" format="integer">
						<heading>30006</heading>
					</control>
				</setting>
			</group>
		</category>
		<category id="anidb 1" label="30301" help="">
			<group id="1">
				<setting id="OfficialName" type="boolean" label="30100" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="OfficialLanguage" type="string" label="30101" help="">
					<level>0</level>
					<default>en</default>
					<constraints>
						<options>
							<option label="en">en</option>
							<option label="de">de</option>
							<option label="fr">fr</option>
							<option label="it">it</option>
							<option label="cs">cs</option>
							<option label="sk">sk</option>
							<option label="hu">hu</option>
							<option label="pl">pl</option>
							<option label="ru">ru</option>
							<option label="ja">ja</option>
							<option label="zh">zh</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
			</group>
			<group id="2">
				<setting id="Prequels" type="boolean" label="30102" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="AlternativePrequelLinkType" type="string" label="30103" help="">
					<level>0</level>
					<default>Parent Story</default>
					<constraints>
						<options>
							<option label="Parent Story">Parent Story</option>
							<option label="Alternative Setting">Alternative Setting</option>
							<option label="Side Story">Side Story</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="Prequels">true</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
			</group>
			<group id="3">
				<setting id="SingleStudio" type="boolean" label="30104" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="SecondAsMain" type="boolean" label="30107" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="AppearsInAsMain" type="boolean" label="Hidden" help="">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="SpecialsAtEnd" type="boolean" label="30105" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="SpecialsInside" type="boolean" label="30106" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="KeepSource" type="boolean" label="30128" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
		<category id="anidb 2" label="30302" help="">
			<group id="1">
				<setting id="MinGenreWeight2" type="string" label="30108" help="">
					<level>0</level>
					<default>300</default>
					<constraints>
						<options>
							<option>100</option>
							<option>200</option>
							<option>300</option>
							<option>400</option>
							<option>500</option>
							<option>600</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="GenreCount2" type="string" label="30109" help="">
					<level>0</level>
					<default>5</default>
					<constraints>
						<options>
							<option>0</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="AdultGenres" type="integer" label="30121" help="">
					<level>0</level>
					<default>1</default>
					<constraints>
						<options>
							<option label="30122">0</option>
							<option label="30123">1</option>
							<option label="30124">2</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
			</group>
			<group id="2">
				<setting id="GetRatings" type="boolean" label="30129" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="RatingType" type="string" label="30110" help="">
					<level>0</level>
					<default>Average</default>
					<constraints>
						<options>
							<option label="Average">Average</option>
							<option label="Weighted">Weighted</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="GetRatings">true</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="OldRatings" type="boolean" label="30130" help="">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="GetRatings">true</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="3">
				<setting id="UseTags" type="boolean" label="30111" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="AddTagsToAll" type="boolean" label="30112" help="">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="UseTags">true</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="TagList" type="string" label="30113" help="" parent="AddTagsToAll">
					<level>0</level>
					<default>Anime</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="AddTagsToAll">true</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="UseTags">true</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>30113</heading>
					</control>
				</setting>
				<setting id="SourceTags" type="boolean" label="30117" help="">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="UseTags">true</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="SourcePrefix" type="string" label="30118" help="" parent="SourceTags">
					<level>0</level>
					<default>Original Work: </default>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="SourceTags">true</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="UseTags">true</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>30118</heading>
					</control>
				</setting>
				<setting id="LocationTags" type="boolean" label="30119" help="">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="UseTags">true</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="LocationPrefix" type="string" label="30120" help="" parent="LocationTags">
					<level>0</level>
					<default>Location: </default>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="LocationTags">true</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="UseTags">true</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>30120</heading>
					</control>
				</setting>
				<setting id="PreciseLocation" type="boolean" label="30125" help="" parent="LocationTags">
					<level>0</level>
					<default>true</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="LocationTags">true</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="UseTags">true</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="AudienceTags" type="boolean" label="30126" help="">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="UseTags">true</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="AudiencePrefix" type="string" label="30127" help="" parent="AudienceTags">
					<level>0</level>
					<default>Audience: </default>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="AudienceTags">true</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="UseTags">true</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>30127</heading>
					</control>
				</setting>
			</group>
		</category>
		<category id="thetvdb" label="30303" help="">
			<group id="1">
				<setting id="Fanarts" type="boolean" label="30200" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="2">
				<setting id="ExtraDetails" type="boolean" label="30203" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
	</section>
</settings>
